:root {
  --color-text-normal: var(--color-gray-500);
  --color-text-muted: var(--color-gray-600);
  --color-text-highlighted: var(--color-gray-500);
  --color-text-placeholder: var(--color-gray-700);
  --color-text-component: var(--color-gray-800);
  --color-divider: var(--color-gray-900);
  --color-border: var(--color-gray-700);
  --color-background: var(--color-gray-900);
  --color-foreground: var(--color-gray-800);
  --color-input: var(--color-gray-900);
  --tw-bg-opacity: 0.5;
}
