/* You can add global styles to this file, and also import other style files */
@import "styles/core/settings/_variables";
@import "src/styles/themes/dark-theme/settings/_variables";
@import "styles/core/tools/mixins/_media";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-foreground);
}
